@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(135deg, #0443F2 0%, #001756 86.45%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#root {
  margin: 0;
  text-align: center;
}

.thicker-border {
  border-width: 5px; /* Adjust the thickness as needed */
}